<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style media="all" type="text/css">
body {
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
    padding: 6px;
    background: white;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
    empty-cells: show;
    font-size: 1em;
}
th, td {
    vertical-align: top;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
br {
    mso-data-placement: same-cell; /* maintain line breaks in Excel */
}
hr {
    background: #ccc;
    height: 1px;
    border: 0;
}
a, a:link, a:visited {
    text-decoration: none;
    color: #15c;
}
a > img {
    border: 1px solid #15c !important;
}
a:hover, a:active {
    text-decoration: underline;
    color: #61c;
}
.message {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 1.1em;
}

/* Headers */
#header {
    width: 65em;
    height: 3em;
    margin: 6px 0;
}
h1 {
    float: left;
    margin: 0 0 0.5em 0;
    width: 75%;
}
h2 {
    clear: left;
}
.fail {
    color: #ce3e01 !important;
    font-weight: bold;
}
.pass {
    color: #098a09 !important;
}
.skip {
    color: #927201 !important;
    font-weight: bold;
}
.element-header {
    border: 1px solid transparent;
    border-radius: 2px;
    position: relative;
}
.element-header:hover {
    cursor: pointer;
    background-color: #eee;
    border-color: #ccc;
}
.element-header-toggle {
    position: absolute;
    left: 3px;
    top: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeCR0JChSkZz20AAAAGklEQVQI12NgQAKMDKzInP8IDhOqMk4G7AAANQwBE427PYUAAAAASUVORK5CYII=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik0wIDB2Mmg4di0yaC04eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAzKSIgLz4KPC9zdmc+), none;
    height: 10px;
    width: 10px;
    background-size: 6px 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.closed > .element-header-toggle {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAQAAABKxSfDAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeCR0JCDHdVYtxAAAAM0lEQVQI103MMQqAMBQFwVHyITaB3P+W1sKzSBC3mW6hRFw0pUB5DvF1bu9FN0RM3X/wAk98CUnvFTakAAAAAElFTkSuQmCC);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik0zIDB2M2gtM3YyaDN2M2gydi0zaDN2LTJoLTN2LTNoLTJ6IiAvPgo8L3N2Zz4=), none;
}
.element-header:hover > .element-header-toggle {
    background-color: #ccc;
}
.element-header-right:hover ~ .element-header-toggle {
    background-color: transparent;
}
.children {
    display: block;
    margin-left: 1.4em;
}
.directory, .resource, .keyword {
    margin-left: -0.2em;
}
.directory, .keyword, #errors {
    border: 1px solid #ccc;
    padding: 0.3em 0.2em;
    margin: 0.2em 0;
}
.keyword {
    border-style: dashed;
}
#d0, .directory > .children > .keyword {
    margin-left: 0;
}
.element-header-left {
    padding: 3px 80px 3px 20px;
}
.element-header-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    cursor: default;
}
/* Statistics table */
.statistics {
    width: 65em;
    border-collapse: collapse;
    empty-cells: show;
    margin-bottom: 1em;
}
.statistics tr:hover {
    background: #f4f4f4;
    cursor: pointer;
}
.statistics th, .statistics td {
    border: 1px solid #ccc;
    padding: 0.1em 0.3em;
}
.statistics th {
    background-color: #ddd;
    padding: 0.2em 0.3em;
}
.statistics td {
    vertical-align: middle;
}
.stats-col-stat {
    width: 4.5em;
    text-align: center;
}
.stats-col-elapsed {
    width: 5.5em;
    text-align: center;
}
.stats-col-graph {
    width: 9em;
}
th.stats-col-graph:hover {
    cursor: default;
}
.stat-name {
    float: left;
}
.stat-name a, .stat-name span {
    font-weight: bold;
}
.elapsed {
    float: right;
    color: #666;
    padding-left: 1em;
}
/* Status text colors -- !important allows using them in links */
.fail {
    color: #ce3e01 !important;
    font-weight: bold;
}
.pass {
    color: #098a09 !important;
}
.skip {
    color: #927201 !important;
    font-weight: bold;
}
.label {
    padding: 2px 5px;
    font-size: 0.75em;
    letter-spacing: 1px;
    white-space: nowrap;
    color: black;
    background-color: #ddd;
    border-radius: 3px;
}
.label.debug, .label.trace, .label.error, .label.keyword {
    letter-spacing: 0;
}
.label.pass, .label.fail, .label.error, .label.skip, .label.warn {
    font-weight: bold;
}
.label.pass {
    background-color: #97bd61;
    color: #000 !important;
}
.label.fail, .label.error {
    background-color: #ce3e01;
    color: #fff !important;
}
.label.skip, .label.warn {
    background-color: #fed84f;
    color: #000 !important;
}
.level {
    width: 5em;
    text-align: center;
}
.name {
    font-weight: bold;
}
.link {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHlJREFUGJVtzrEJwmAQBtCn6ASuIKTIBhY2gmghBiJYB1udwk10B8FJbKMBcQFbtbkfJHrVwfu+4/idJR64Y9H7E3higj5O3S8Y44ApLnjhnXCNGhV2yNGggDJwiC02gavUbpDFvscRo4QdXOMKDHBufz3HLYKzNn4AbSkV3fncGQYAAAAASUVORK5CYII=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik01Ljg4LjAzYy0uMTguMDEtLjM2LjAzLS41My4wOS0uMjcuMS0uNTMuMjUtLjc1LjQ3YS41LjUgMCAxIDAgLjY5LjY5Yy4xMS0uMTEuMjQtLjE3LjM4LS4yMi4zNS0uMTIuNzgtLjA3IDEuMDYuMjIuMzkuMzkuMzkgMS4wNCAwIDEuNDRsLTEuNSAxLjVjLS40NC40NC0uOC40OC0xLjA2LjQ3LS4yNi0uMDEtLjQxLS4xMy0uNDEtLjEzYS41LjUgMCAxIDAtLjUuODhzLjM0LjIyLjg0LjI1Yy41LjAzIDEuMi0uMTYgMS44MS0uNzhsMS41LTEuNWMuNzgtLjc4Ljc4LTIuMDQgMC0yLjgxLS4yOC0uMjgtLjYxLS40NS0uOTctLjUzLS4xOC0uMDQtLjM4LS4wNC0uNTYtLjAzem0tMiAyLjMxYy0uNS0uMDItMS4xOS4xNS0xLjc4Ljc1bC0xLjUgMS41Yy0uNzguNzgtLjc4IDIuMDQgMCAyLjgxLjU2LjU2IDEuMzYuNzIgMi4wNi40Ny4yNy0uMS41My0uMjUuNzUtLjQ3YS41LjUgMCAxIDAtLjY5LS42OWMtLjExLjExLS4yNC4xNy0uMzguMjItLjM1LjEyLS43OC4wNy0xLjA2LS4yMi0uMzktLjM5LS4zOS0xLjA0IDAtMS40NGwxLjUtMS41Yy40LS40Ljc1LS40NSAxLjAzLS40NC4yOC4wMS40Ny4wOS40Ny4wOWEuNS41IDAgMSAwIC40NC0uODhzLS4zNC0uMi0uODQtLjIyeiIKICAvPgo8L3N2Zz4=), none;
}
.expand {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAADtJREFUGJVjYCACKDAwMByA0ljFDjAwMPxnYGB4ABVQgLL/Q+VQBB6gseGmIivCkERXhFUSWRFOSawAAEl7E3uv1iMcAAAAAElFTkSuQmCC);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik0xLjUgMGwtMS41IDEuNSA0IDQgNC00LTEuNS0xLjUtMi41IDIuNS0yLjUtMi41eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxKSIgLz4KPC9zdmc+), none;
}
.collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAC5JREFUGJVjYCARNEAxTsn/UIyhCFkSQxG6ThQ+C5IpjWhG1yNb4YDFTdjEMAEACi8Q++9Y9TAAAAAASUVORK5CYII=);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPgogIDxwYXRoIGQ9Ik00IDBsLTQgNCAxLjUgMS41IDIuNS0yLjUgMi41IDIuNSAxLjUtMS41LTQtNHoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMSkiIC8+Cjwvc3ZnPg==), none;
}
.expand, .collapse, .link {
    float: left;
    display: block;
    visibility: hidden;
    margin: 0 4px;
    height: 14px;
    width: 14px;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.link {
    background-size: 10px 10px;
}
.element-header:hover a {
    visibility: visible;
}
.expand:hover, .collapse:hover, .link:hover {
    background-color: #ccc;
}
/* Metadata */
.metadata {
    width: 100%;
    border-spacing: 0.2em;
}
.metadata th {
    width: 12em;
    vertical-align: top;
    text-align: left;
}
.metadata td {
    vertical-align: top;
}
.keyword-metadata {
    font-size: 0.9em;
}
</style>
<style media="all" type="text/css">
.doc > * {
    margin: 0.7em 1em 0.1em 1em;
    padding: 0;
}
.doc > p, .doc > h1, .doc > h2, .doc > h3, .doc > h4 {
    margin: 0.7em 0 0.1em 0;
}
.doc > *:first-child {
    margin-top: 0.1em;
}
.doc table {
    border: 1px solid #ccc;
    background: transparent;
    border-collapse: collapse;
    empty-cells: show;
    font-size: 0.9em;
}
.doc table th, .doc table td {
    border: 1px solid #ccc;
    background: transparent;
    padding: 0.1em 0.3em;
    height: 1.2em;
}
.doc table th {
    text-align: center;
    letter-spacing: 0.1em;
}
.doc pre {
    font-size: 1.1em;
    letter-spacing: 0.05em;
    background: #f4f4f4;
}
.doc code {
    padding: 0 0.2em;
    letter-spacing: 0.05em;
    background: #eee;
}
.doc li {
    list-style-position: inside;
    list-style-type: square;
}
.doc img {
    border: 1px solid #ccc;
}
.doc hr {
    background: #ccc;
    height: 1px;
    border: 0;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(function() {
    $('.element-header').on('click', function () {
        $(this).siblings(".children").toggle('fast');
        $(this).children(".element-header-left").toggleClass("closed");
    });
});
</script>

</head>
<body>
<div id="header">
    <h1>Sherlock Log</h1>
</div>
{% for directory in tree recursive %}
{%- if directory.show -%}
<div id="{{ directory.element_id }}" class="directory">
    <div class="element-header">
        <div class="element-header-left{% if directory.element_id != "d0" %} closed{% endif %}">
            {%- if directory.timings is not none%}
            <span class="elapsed" title="Elapsed time">{{ directory.timings.total }} s</span>
            {% endif %}
            <span class="label {{ directory.status }}">{{ directory.type }}</span>
            <span class="name">{{ directory.name }}</span>
            <div class="element-header-toggle" title="Toggle visibility"></div>
        </div>
    </div>
    <div class="children"{% if directory.element_id != "d0" %} style="display: none;"{% endif %}>
        <table class="metadata">
            <tbody>
                <tr>
                    <th>Source:</th>
                    <td><a href="{{ directory.path }}">{{ directory.path.name }}</a></td>
                </tr>
                {%- if directory.type in ("RESOURCE", "LIBRARY") -%}
                <tr>
                    <th>Total keywords:</th>
                    <td>{{ directory.keywords|length }}</td>
                </tr>
                {%- endif -%}
            </tbody>
        </table>
        {%- if directory.errors|length > 0 %}
        <div class="errors">
            <div class="element-header">
                <div class="element-header-left closed">
                    <span class="name">Import errors:</span>
                    <div class="element-header-toggle" title="Toggle visibility"></div>
                </div>
            </div>
            <div class="children">
                <table class="metadata">
                    <tbody>
                    {%- for error in directory.errors %}
                        <td class="fail level"><span class="label fail">FAIL</span></td>
                        <td class="message">{{ error}}</td>
                    {% endfor -%}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif -%}
        {%- if directory.timings is not none and directory.keywords|length > 0 %}
        <div class="timings">
            <div class="element-header">
                <table class="statistics" role="grid">
                    <thead>
                        <tr role="row">
                            <th class="stats-col-name" role="columnheader">Total elapsed</th>
                            <th class="stats-col-name" role="columnheader">Shortest execution</th>
                            <th class="stats-col-name" role="columnheader">Longest execution</th>
                            <th class="stats-col-name" role="columnheader">Average execution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr clas="row-0">
                            <td class="stats-col-stat">{{ directory.timings.total }} s</td>
                            <td class="stats-col-stat">{{ directory.timings.min }} s</td>
                            <td class="stats-col-stat">{{ directory.timings.max }} s</td>
                            <td class="stats-col-stat">{{ directory.timings.avg }} s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif -%}
        {%- for keyword in directory.keywords %}
         <div id="{{ keyword.element_id }}" class="keyword">
            <div class="element-header">
                <div class="element-header-left closed">
                    <span class="elapsed" title="Elapsed time">{{ keyword.timings.total }} s</span>
                    <span class="label {{ keyword.status }}">KEYWORD</span>
                    <span class="name">{{ keyword.name }}</span>
                    <div class="element-header-toggle" title="Toggle visibility"></div>
                </div>
            </div>
             <div class="children" style="display: none;">
                 <table class="metadata">
                     <tbody>
                        <tr>
                            <th>Used:</th>
                            <td>{{ keyword.used }}</td>
                        </tr>
                        {%- if keyword.complexity is not none -%}
                         <tr>
                             <th>Complexity:</th>
                             <td>{{ keyword.complexity }}</td>
                         </tr>
                         {%- endif -%}
                     </tbody>
                 </table>
                {%- if keyword.used %}
                <div class="timings">
                    <div class="element-header">
                        <table class="statistics" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="stats-col-name" role="columnheader">Total elapsed</th>
                                    <th class="stats-col-name" role="columnheader">Shortest execution</th>
                                    <th class="stats-col-name" role="columnheader">Longest execution</th>
                                    <th class="stats-col-name" role="columnheader">Average execution</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr clas="row-0">
                                    <td class="stats-col-stat">{{ keyword.timings.total }} s</td>
                                    <td class="stats-col-stat">{{ keyword.timings.min }} s</td>
                                    <td class="stats-col-stat">{{ keyword.timings.max }} s</td>
                                    <td class="stats-col-stat">{{ keyword.timings.avg }} s</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif -%}
             </div>
    </div>
        {% endfor %}
        {{ loop(directory.children) }}
    </div>
</div>
{%- endif -%}
{%- endfor -%}

</body>
</html>
